body{
    background-color: #d8e4dd;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.column{
    float: left;
    padding: 25px
}

button{
    color: white;
    background-color: rgb(12, 65, 19)
}

