body{
    background-color: #f3e6ed;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

